.Green {
    background-color: lightgreen;
}

.Grey {
    background-color: gainsboro;
}

.Red {
    background-color: red;
}

li {
    list-style: none;
}

.create_app {
  padding: 20px;
}

.envs {
  margin: 20px auto;
}
