option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "untitled3.settings"
    "PYTHONPATH": "$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "untitled3.wsgi:application"
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "static/"
